<div class="user-detail" *ngIf="user">

  <!-- Card containing user info -->
  <div class="card">

    <!-- Section displaying basic user information -->
    <div class="user-info">
      <h2>User Details</h2>
      <p><strong>ID:</strong> {{user.id}}</p>
      <p><strong>Name:</strong> {{user.name}}</p>
    </div>

    <!-- Section displaying additional user information (Address, DOB) -->
    <div [@detailExpand]="showMore ? 'expanded' : 'collapsed'" class="additional-info">
      <div class="info-content">
        <p><strong>Address:</strong> {{user.address}}</p>
        <p><strong>Date of Birth:</strong> {{user.dob | date}}</p>
      </div>
    </div>

    <button
      (click)="toggleShowMore()"
      class="toggle-button">
      {{ showMore ? 'Show Less' : 'Show More' }} <!-- Display dynamic text based on 'showMore' -->
    </button>
    </div>
</div>
