body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-layout {
  display: flex;
  height: 100vh;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 120px;
  background-color: var(--background-color);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  :host-context(body.dark-theme) & {
    background-color: #2a2d31;
  }

  .e-menu-wrapper {
    flex: 1;
    background-color: inherit;

    :host-context(body.dark-theme) & {
      background-color: inherit;
    }
  }
}

:host ::ng-deep .e-menu-wrapper {
  .e-menu {
    background-color: inherit;
  }

  .e-menu-item {
    background-color: inherit !important;
    transition: background-color 0.3s ease !important;

    .e-menu-text {
      color: var(--text-color) !important;
    }

    /* Hover effect for both themes */
    &:hover {
      background-color: var(--accent-color) !important;
      cursor: pointer;
    }

    /* Dark theme specific styles */
    :host-context(body.dark-theme) & {
      background-color: inherit !important;

      .e-menu-text {
        color: white !important;
      }

      &:hover {
        background-color: var(--accent-color) !important; /* Accent color on hover */
        .e-menu-text {
          color: white !important; /* Text remains white */
        }
      }
    }

    /* Light theme specific styles */
    :host-context(body.light-theme) & {
      &:hover {
        background-color: var(--accent-color) !important; /* Accent color on hover */
        .e-menu-text {
          color: white !important; /* Text remains white */
        }
      }
    }
  }
}

:host ::ng-deep .e-menu-item.e-focused {
  background-color: var(--accent-color) !important;

  .e-menu-text {
    color: white !important;
  }
}

.menu-container.hidden {
  transform: translateX(-120px);
}

.content-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--background-color);
  transition: margin-left 0.3s ease-in-out;
}

.content-container.shifted {
  margin-left: 120px;
}

.menu-toggle-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: grey;
  }
}

.theme-toggle-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.theme-toggle-btn {
  background: white;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 3px 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgb(121, 42, 166);
  }
}


// Vertical Menu specific styles
:host ::ng-deep .vertical-menu {
  width: 100%;

  .e-menu-container {
    background-color: inherit;
  }
}

