.user-list {
  display: block;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-top: 100px;
  min-height: 100vh;
  background-color: var(--background-color);

  h2 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 50px;
  }

  ::ng-deep {
    .e-grid {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      border-radius: 1px;
      overflow: hidden;
      background-color: var(--grid-background);
      border: 2px solid var(--grid-border-color);

      // Remove any internal white padding or border in the header
      .e-gridheader {
        background-color: var(--grid-background);
        border-bottom: 1px solid var(--grid-border-color);
      }

      // Grid rows and cells
      .e-rowcell,
      .e-columnheader .e-headercelldiv {
        background-color: var(--grid-background);
        color: var(--grid-text-color);
        border: 500px;
        padding: 10px;
        text-align: center;


      }

      // Target the content container of cells
      .e-rowcell > div,
      .e-headercelldiv {
        background-color: var(--grid-background) !important;
        padding: 5px !important;
      }


      // Target the cell content specifically
      .e-gridcontent .e-content .e-row td.e-rowcell {
        background-color: var(--grid-background) !important;
      }
    }
  }

}


/* In your component's CSS file */
.e-headercell {
  background-color: var(--grid-background);
}
::ng-deep .e-gridheader {
  border-top: none !important; /* Removes the border at the top of the header */
  box-shadow: none !important; /* Ensures no shadow is applied to the header */
}

::ng-deep .e-gridheader {
  border-bottom: 2px solid var(--grid-border-color) !important; /* Increase thickness of the bottom border */
}

