.user-create {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .user-form {
    .form-group {
      margin-bottom: 50px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input,
      ejs-datepicker {
        width: 100%;
        padding: 8px;
        border: 3px solid var(--border-color);
        border-radius: 8px;
      }

      /* Additional specific style for ejs-datepicker input */
      ejs-datepicker input {
        width: 1000%;
        padding: 8px;
        border: 1px solid var(--border-color);
        border-radius: 4px;
      }

      /* Error message styling */
      .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }
    }

    button {
      display: block;
      margin: 0 auto;
      padding: 10px 20px;
      background-color: var(--primary-color);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: var(--accent-color);
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
